name: Version Bump

on:
  push:
    branches:
      - main
    paths:
      - VERSION

jobs:
  create-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Get version
        id: vars
        run: echo "version=v$(cat VERSION)" >> $GITHUB_OUTPUT
      - uses: rickstaa/action-create-tag@v1.7.2
        with:
          tag: ${{ steps.vars.outputs.version }}
